*.csv
*.xlsx
*.xls
*.zip
*.7z
*/.idea
*/.vs
*.xml
*/.ipynb_checkpoints
*/node_modules
*/*/node_modules
*/.env
*.env
*data
*target
React/Praktika/chat_app/node_modules
React/Praktika/chat_app/backend/node_modules

React/Praktika/realtime_colors/backend/node_modules
